[user]
	mail = andreasmartenhallberg@gmail.com
	name = Andreas Hallberg
	email = andreasmartenhallberg@gmail.com
[credential]
	helper = osxkeychain
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	path = nvim
