# Show the vim mode in the prompt (command or insert)
set editing-mode vi
set show-mode-in-prompt on

# Set the mode string and cursor to indicate the vim mode
#   For the number after `\e[`:
#     0: blinking block
#     1: blinking block (default)
#     2: steady block
#     3: blinking underline
#     4: steady underline
#     5: blinking bar (xterm)
#     6: steady bar (xterm)
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2
